<!DOCTYPE html>
<html>
<head>
  <title>Sampler</title>
  <base href="/sampler/" />
  <%= stylesheet_link_tag    "sampler/application", :media => "all" %>
  <%= javascript_include_tag "sampler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="sampler">
    <div ng-view></div>
  </div>
</body>
</html>
