<!DOCTYPE html>
<html ng-app="sampler">
<head>
  <title>Sampler</title>
  <base href="/sampler/" />
  <%= stylesheet_link_tag    "sampler/application", :media => "all" %>
  <%= javascript_include_tag "sampler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ui-view style="padding-top: 60px;"></div>
</body>
</html>
