<!DOCTYPE html>
<html>
<head>
  <title>Sampler</title>
  <%= stylesheet_link_tag    "sampler/application", :media => "all" %>
  <%= javascript_include_tag "sampler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-app>
  <div class="container" ng-controller="HelloController">
  {{data.hello}} {{data.world}}!

  <form>
    <button type="submit" class="btn btn-primary" ng-click="changeHello()">Okey</button>
    <button type="rollback" class="btn" ng-click="rollbackHello()">Cancel</button>
  </form>
  </div>
</div>

<%= yield %>

</body>
</html>
