<div>
  <form>
    <label>Server: </label> <input type="text" ng-model="server.url"><br>
    <label>Method: </label> <select ng-options="r for r in ['GET', 'POST', 'PUT', 'DELETE']" ng-model="server.method"></select><br>
    <label>API: </label> <input type="text" ng-model="server.api"><br>
    <label>Payload: </label> <input type="text" ng-model="server.payload"><br>
    <button type="submit" class="btn btn-primary" ng-click="call()">Okey</button>
    <button type="rollback" class="btn" ng-click="clear()">Cancel</button>
  </form>

  <hr>
  <b>Status:</b> {{ api.status }} <br>
  <b>Data:</b> {{ api.data }} <br>
  <b>Headers:</b> {{ api.headers }} <br>
  <b>Config:</b> {{ api.config }} <br>
  <hr>
</div>
